<app-hero-section></app-hero-section>
<app-welcome-box
  title="About Us"
  content="Welcome to Shiva Packer and Mover - Your Trusted Moving Partner"
/>
<app-right-image-info-list
  title="Our Story:"
  [list]="firstList"
  extraClass="tw-bg-yellow-200"
/>

<app-left-image-info-list
  title="Why Choose Us?"
  [list]="secondList"
></app-left-image-info-list>

<!-- Need to change -->

<app-right-image-info-list
  title="Our Story:"
  [list]="thirdList"
  extraClass="tw-bg-yellow-200"
/>

<app-welcome-box
title="Community Involvement"
  content="At Shiva Packer and Mover, we believe in giving back to the community that has supported us. We actively participate in local initiatives and charitable causes that make a positive impact on society."
></app-welcome-box>
<app-welcome-box
title="Our Team"
  content="Introduce key members of your team, their expertise, and their dedication to providing top-notch moving services."
></app-welcome-box>
<app-welcome-box
title="Contact Us"
  content="Contact Us: We are here to help you with your moving needs. Reach out to us via phone, email, or the contact form on our website. Let's start planning your move today!"
></app-welcome-box>
