<footer>
    <div
  class="tw-flex tw-items-end tw-p-3 tw-text-white tw-justify-between"
>
  <div
    class="md:flex tw-flex tw-flex-col tw-gap-1 md:tw-flex md:tw-flex-row md:tw-justify-between  md:tw-w-3/4"
  >
    <div>
      <div class="tw-text-xl">Office Address</div>
      <div class="tw-text-lg">Barrackpore, Kolkata-120</div>
    </div>

    <div class="">
      <div class="tw-flex tw-items-center tw-gap-1">
        <ng-icon name="ionCallOutline"></ng-icon> 9051156001
      </div>
      <div class="tw-flex tw-items-center tw-gap-1">
        <ng-icon name="ionCallOutline"></ng-icon> 7278608213
      </div>
      <div class="tw-flex tw-items-center tw-gap-1">
        <ng-icon name="ionMailOutline"></ng-icon> shivapackerandmovers@gamil.com
      </div>
    </div>

  </div>
  <div>
    <button
      class="tw-rounded-md tw-bg-[#B5A9FF] tw-p-1 tw-text-lg tw-font-bold"
    >
      Contact Us
    </button>
  </div>
</div>
<div class="tw-w-full tw-h-[2px] tw-bg-white tw-mb-1"></div>
<div class="tw-flex tw-text-white tw-justify-between tw-items-center">
    <p class=" tw-p-1">copywrite@shivapackerandmovers</p>
    <div>
        <ng-icon size="1.5rem" name="ionLogoFacebook"></ng-icon>
        <ng-icon size="1.5rem" name="ionLogoInstagram"></ng-icon>
        <ng-icon size="1.5rem" name="ionLogoYoutube"></ng-icon>

    </div>

</div>
</footer>
